html {
    background: #e3e3e3;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 20px solid #242424;
    background: #fff;
}

header {
    background: #ccc;
    padding: 30px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #505050;
}

.blog-post img {
    max-width: 20%;
    height: auto;
}

.form-example {
    background: #aaaaaa;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-right: 5px;
    margin-right: 5px;
    padding-left: 5px;
    margin-left: 5px;
}